* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu";
    font-size: 62.5%;
}
/* :root{
    
} */
.container--nav-bar{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 63px;
}
.title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav-bar--item {
    list-style: none;
}
.nav-bar--item a {
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
}
.nav-bar--item a:hover {
    color: red;
}
.transition {
    width: 98vw;
    height: 80px;
    margin: 1vh 1vw;
    border-radius: 7px;
    background-image: url("../img/main-header.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.intro {
    width: 100vw;
    height: auto;
}
.intro h2 {
    padding-left: 7px;
    font-size: 2rem;
    font-weight: bold;
}
.intro p {
    padding: 8px 5px;
    line-height: 18px;
    font-size: 1.04rem;
    font-weight: bold;
    color: rgb(103, 105, 106);
}
.music-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.music-images .imagen {
    width: 300px;
    height: auto;
    border-radius: 17px;
}
.music-images .auricular {
    margin-bottom: 20px;
}
.music-images .tecnologia {
    position: relative;
    display: none;
}
.music-images .ondas {
    position: relative;
    display: none;
}
.musica-nueva {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.musica-nueva h3 {
    align-self: flex-start;
    padding: 10px 10px;
    font-size: 2rem;
    font-weight: bold
}
.musica-nueva p {
    padding: 8px 5px;
    line-height: 18px;
    font-size: 1.04rem;
    font-weight: bold;
    color: rgb(103, 105, 106);
}
.musica-nueva img {
    width: 300px;
    height: auto;
    border-radius: 17px;
}